<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- 主選單 -->
        <menuitem id="discord_menu_root"
                  name="Discord"
                  sequence="100"/>

        <!-- 設定 -->
        <menuitem id="discord_menu_config"
                  name="設定"
                  parent="discord_menu_root"
                  sequence="10"/>

        <!-- 點數 -->
        <menuitem id="discord_menu_points"
                  name="點數"
                  parent="discord_menu_root"
                  sequence="20"/>
    </data>
</odoo>
