name: Deploy to GCP

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USER }}
          key: ${{ secrets.GCP_SSH_KEY }}
          script: |
            cd /home/dianlemel/odoo-discord-plugin
            git log -n 2
            git fetch origin
            git reset --hard origin/main
            docker cp . odoo:/mnt/extra-addons/
            docker restart odoo
